*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	height: 100%;

	--bg-00: #1E1E1E;
	--bg-01: #2C2C2C;
	--bg-02: #444444;
	--bg-alt: #111111;
	--border-00: #262626;
	--border-01: #363636;

	--text-00: #FFFFFF;
	--text-00: #D0D0D0;

	--accent-00: #0D99FF;
	--accent-01: #2b85e8;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--bg-00);
	color: var(--text-00);
}

body {
	font-size: 1.6rem;
	height: 100%;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 25rem 1fr 25rem;
	grid-template-rows: 5rem 1fr;
}

input {
	background-color: var(--bg-00);
	border: solid 1px var(--bg-02);
	padding: .5rem;
	border-radius: .3rem;
	color-scheme: dark light;
	accent-color: var(--accent-00);
	margin-block: 1rem;
}

button {
	all: initial;
}